.about-section {
  padding: 60px 0;
}
.about-image {
  border-radius: 50px; /* Apply border-radius to round the images */
  width: 100%; /* Set width to fill the container */
  height: auto; /* Automatically adjust height */
  margin-bottom: 20px; /* Add margin at the bottom for spacing */
  border: 4px solid #FFA500;
}

.about-card {
  border: none;
  text-align: center;
}

.about-card h2 {
  margin-bottom: 20px;
  font-size: 2.5rem; /* Increase font size */
  color: orange; /* Heading color */
}

.about-card p {
  font-size: 1.8rem; /* Increase font size */
}

.team-member {
  text-align: center;
}

.team-member img {
  border-radius: 50%;
  width: 250px; /* Adjust width */
  height: 400px; /* Adjust height */
  object-fit: cover;
  margin-bottom: 15px;
}


.team-member h4 {
  font-size: 1.5rem;
  margin-top: 20px;
  
}

.team-member p {
  font-size: 1.2rem;
  color: #666;
}
.about-card:hover {
  background-color: rgb(211, 211, 211); /* Change background color on hover */
  transition: background-color 0.3s ease; /* Add transition effect */
}
